---
import Layout from "@layouts/Layout.astro";
---

<Layout pageName="">
    <p>Simplogは、日常を気軽に、そして簡単に記録できるアプリです。</p>

    <p>着た服や体調、勉強時間など、ちょっとしたことをサクッと記録できます。</p>

    <p>
        複雑な機能は搭載していません。とにかく簡単にログを残せることだけを考えて製作しました。
    </p>
</Layout>
