<section class="flex flex-col items-center">
    <div class="max-w-screen-md">
        <slot />
    </div>
</section>

<style is:global>
    h1 {
        @apply text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6;
    }

    h2 {
        @apply text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4;
    }

    h3 {
        @apply text-gray-800 text-lg sm:text-xl font-semibold mb-2 md:mb-4;
    }

    p {
        @apply text-gray-500 sm:text-lg mb-6 md:mb-8 indent-4;
    }

    ul li {
        @apply text-gray-500 sm:text-lg mb-3 md:mb-4 list-inside list-disc;
    }

    ol li {
        @apply text-gray-500 sm:text-lg mb-3 md:mb-4 list-inside list-decimal;
    }
</style>
